## Import

In [1]:
import pandas as pd
import numpy as np

In [2]:
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import numpy as np
import random
import datetime
import warnings
warnings.filterwarnings('ignore')

# Imports for better visualization
from matplotlib import rcParams
#colorbrewer2 Dark2 qualitative color table
dark2_colors = [(0.10588235294117647, 0.6196078431372549, 0.4666666666666667),
                (0.8509803921568627, 0.37254901960784315, 0.00784313725490196),
                (0.4588235294117647, 0.4392156862745098, 0.7019607843137254),
                (0.9058823529411765, 0.1607843137254902, 0.5411764705882353),
                (0.4, 0.6509803921568628, 0.11764705882352941),
                (0.9019607843137255, 0.6705882352941176, 0.00784313725490196),
                (0.6509803921568628, 0.4627450980392157, 0.11372549019607843)]

rcParams['figure.figsize'] = (10, 4)
rcParams['figure.dpi'] = 150
#rcParams['axes.color_cycle'] = dark2_colors
rcParams['lines.linewidth'] = 2
rcParams['font.size'] = 8
rcParams['patch.edgecolor'] = 'white'
rcParams['patch.facecolor'] = dark2_colors[0]
rcParams['font.family'] = 'StixGeneral'
rcParams['axes.grid'] = True
rcParams['axes.facecolor'] = '#eeeeee'

In [3]:
# pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
# pd.set_option('display.width', 1000)
# pd.set_option('display.expand_frame_repr', True)

In [4]:
comp = pd.read_csv('comp.csv')
print(comp.shape)

(15274, 14)

In [5]:
comp.replace(to_replace = '-', value = np.nan, inplace = True)

In [6]:
comp['funding_total_usd'] = comp['funding_total_usd'].apply(pd.to_numeric)
type(comp['funding_total_usd'][0])

numpy.float64

In [7]:
comp_filter=comp[comp['first_funding_at'] >= '2000-01-01']
print(comp_filter.shape)

(15117, 14)

In [9]:
invest = pd.read_csv('invest.csv')
print(invest.shape)
invest.head()

(13066, 18)

,company_permalink,company_name,company_category_list,company_country_code,company_state_code,company_region,company_city,investor_permalink,investor_name,investor_country_code,investor_state_code,investor_region,investor_city,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/0-6-com,0-6.com,Curated Web,CHN,22,Beijing,Beijing,/organization/dt-capital-partners,DT Capital Partners,CHN,23,Shanghai,Shanghai,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,2008-03-19,2000000.0
1,/organization/004-technologies,004 Technologies,Software,USA,IL,"Springfield, Illinois",Champaign,/organization/venturecapital-de,VCDE Venture Partners,DEU,5,Frankfurt,Frankfurt,/funding-round/1278dd4e6a37fa4b7d7e06c21b3c1830,venture,NaN,2014-07-24,NaN
2,/organization/01games-technology,01Games Technology,Games,HKG,NaN,Hong Kong,Hong Kong,/organization/cyberport-hong-kong,Cyberport Hong Kong,HKG,NaN,Hong Kong,Hong Kong,/funding-round/7d53696f2b4f607a2f2a8cbb83d01839,undisclosed,NaN,2014-07-01,41250.0
3,/organization/0xdata,H2O.ai,Analytics,USA,CA,SF Bay Area,Mountain View,/organization/capital-one,Capital One,USA,VA,"Washington, D.C.",Mclean,/funding-round/3bb2ee4a2d89251a10aaa735b1180e44,venture,B,2015-11-09,20000000.0
4,/organization/0xdata,H2O.ai,Analytics,USA,CA,SF Bay Area,Mountain View,/organization/nexus-venture-partners,Nexus Venture Partners,USA,CA,SF Bay Area,Menlo Park,/funding-round/383a9bd2c04f7038bb543ccef5ba3eae,seed,NaN,2013-05-22,3000000.0

## Drop Unnecessary Features

In [10]:
comp_filter['predict'] = 0
comp_filter.loc[comp_filter.status == 'ipo', 'predict'] = 1
comp_filter.loc[comp_filter.status == 'acquired', 'predict'] = 1
#comp_filter.drop(columns=['label'],inplace = True)
comp_filter.head()

,permalink,name,homepage_url,category_list,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,first_funding_at,last_funding_at,predict
0,/organization/-fame,#fame,http://livfame.com,Media,10000000.0,operating,IND,16,Mumbai,Mumbai,1.0,NaN,2015-01-05,2015-01-05,0
1,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,700000.0,operating,USA,DE,DE - Other,Delaware City,2.0,2014-09-04,2014-03-01,2014-10-14,0
2,/organization/-the-one-of-them-inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,3406878.0,operating,NaN,NaN,NaN,NaN,1.0,NaN,2014-01-30,2014-01-30,0
3,/organization/0-6-com,0-6.com,http://www.0-6.com,Curated Web,2000000.0,operating,CHN,22,Beijing,Beijing,1.0,2007-01-01,2008-03-19,2008-03-19,0
4,/organization/004-technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,NaN,operating,USA,IL,"Springfield, Illinois",Champaign,1.0,2010-01-01,2014-07-24,2014-07-24,0

In [11]:
invest_filter = invest[['company_permalink','investor_permalink']].copy()
#invest_filter.head()

In [12]:
no_investor = invest_filter.groupby('company_permalink').count()['investor_permalink'].reset_index()
no_investor = no_investor.rename(columns = {'investor_permalink':'num_investor'})
# no_investor

In [13]:
comp_invest = pd.merge(left = comp_filter, right = no_investor, how = 'inner', left_on = 'permalink', right_on= 'company_permalink')
comp_invest.head()

,permalink,name,homepage_url,category_list,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,first_funding_at,last_funding_at,predict,company_permalink,num_investor
0,/organization/0-6-com,0-6.com,http://www.0-6.com,Curated Web,2000000.0,operating,CHN,22,Beijing,Beijing,1.0,2007-01-01,2008-03-19,2008-03-19,0,/organization/0-6-com,1
1,/organization/004-technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,NaN,operating,USA,IL,"Springfield, Illinois",Champaign,1.0,2010-01-01,2014-07-24,2014-07-24,0,/organization/004-technologies,1
2,/organization/01games-technology,01Games Technology,http://www.01games.hk/,Games,41250.0,operating,HKG,NaN,Hong Kong,Hong Kong,1.0,NaN,2014-07-01,2014-07-01,0,/organization/01games-technology,1
3,/organization/0xdata,H2O.ai,http://h2o.ai/,Analytics,33600000.0,operating,USA,CA,SF Bay Area,Mountain View,4.0,2011-01-01,2013-01-03,2015-11-09,0,/organization/0xdata,14
4,/organization/1,One Inc.,http://whatis1.com,Mobile,1150050.0,operating,USA,CA,SF Bay Area,San Francisco,3.0,2011-08-01,2011-07-20,2014-02-05,0,/organization/1,13

In [18]:
pd.__version__

'1.0.1'

In [21]:
time1 = pd.to_datetime(comp_invest.first_funding_at, errors='coerce')
##time1 = pd.to_timedelta(arg=time1,unit='days',errors='coerce')
time2 = pd.to_datetime(comp_invest.last_funding_at, errors='coerce')
##time2 = pd.to_timedelta(arg=time2,unit='days',errors='coerce')

In [23]:
comp_invest['funding_duration'] = time2 - time1

In [24]:
comp_final = comp_invest.drop(columns = ['permalink','name','homepage_url','status','state_code','region','city','founded_at','first_funding_at','last_funding_at','company_permalink'])

In [25]:
comp_final.to_csv('comp_data_final',index = False)

In [26]:
comp_final['funding_total_usd'].fillna(value=comp_final['funding_total_usd'].mean(),inplace=True)

In [27]:
country_funding = comp_final.groupby('country_code')['funding_total_usd'].mean()
country_funding = country_funding.reset_index()
country_funding.sort_values('funding_total_usd',ascending=False,inplace=True)
country_funding.head()

   country_code  funding_total_usd
52          PHL       7.250800e+07
0           ARE       6.000000e+07
71          VNM       5.655620e+07
29          IND       3.823434e+07
47          NLD       3.547046e+07

In [28]:
comp_final.isnull().sum(axis = 0)
#comp_final[comp_final['country_code'] == ].head()

category_list        161
funding_total_usd      0
country_code         337
funding_rounds         0
predict                0
num_investor           0
funding_duration       0
dtype: int64

In [29]:
#defining a new dataframe - country_count which displays number of companies of each country 
country_count=comp_final.groupby('country_code').count()['funding_total_usd'].reset_index()
country_count[country_count['country_code']== 'USA']

   country_code  funding_total_usd
69          USA               1804

In [30]:
#defining a new dataframe - df_killnan which displays mean of total_funding_usd for each country
df_killnan = comp_final.groupby('country_code').mean()['funding_total_usd'].reset_index()
df_killnan = df_killnan.rename(columns = {'funding_total_usd':'funding_mean'})
df_killnan.head()

  country_code  funding_mean
0          ARE  6.000000e+07
1          ARG  9.034734e+05
2          AUS  3.180116e+07
3          AUT  2.017277e+07
4          BEL  1.942009e+07

In [31]:
df_killnan1 = pd.merge(left = df_killnan, right = country_count, how = 'inner', left_on = 'country_code', right_on= 'country_code')

df_killnan1.rename(columns={'funding_total_usd':'count_country'}, inplace=True)

df_killnan1.head()

  country_code  funding_mean  count_country
0          ARE  6.000000e+07              1
1          ARG  9.034734e+05              5
2          AUS  3.180116e+07             15
3          AUT  2.017277e+07              8
4          BEL  1.942009e+07             19

#### Null Impute

In [32]:
%%time
#ind=0
#for i in range(44170):
 #   if (comp_final['country_code'].isnull()[i]==1):
  #      ind=(abs(df_killnan1.loc[:,'funding_mean']-comp_final['funding_total_usd'][i]).idxmin())  
   #     comp_final['country_code'][i] = df_killnan1['country_code'][ind]

country_null_index = comp_final[comp_final['country_code'].isnull()].index
comp_final.loc[country_null_index,'country_code'] = comp_final[comp_final['country_code'].isnull()]['funding_total_usd'].apply(lambda x:df_killnan1.loc[(abs(df_killnan1.loc[:,'funding_mean']-x).idxmin()),'country_code'])

Wall time: 459 ms

In [33]:
comp_final.drop(columns = 'category_list', inplace = True)

In [34]:
comp_final.drop(comp_final.columns[comp_final.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)

In [35]:
csp = comp_final.copy()
comp_final.to_csv('csp',index = False)
csp.head()

,funding_total_usd,country_code,funding_rounds,predict,num_investor,funding_duration
0,2.000000e+06,CHN,1.0,0,1,0 days
1,2.311241e+07,USA,1.0,0,1,0 days
2,4.125000e+04,HKG,1.0,0,1,0 days
3,3.360000e+07,USA,4.0,0,14,1040 days
4,1.150050e+06,USA,3.0,0,13,931 days

In [36]:
comp_final

,funding_total_usd,country_code,funding_rounds,predict,num_investor,funding_duration
0,2.000000e+06,CHN,1.0,0,1,0 days
1,2.311241e+07,USA,1.0,0,1,0 days
2,4.125000e+04,HKG,1.0,0,1,0 days
3,3.360000e+07,USA,4.0,0,14,1040 days
4,1.150050e+06,USA,3.0,0,13,931 days
...,...,...,...,...,...,...
3298,2.311241e+07,DEU,1.0,0,1,0 days
3299,4.300000e+04,USA,1.0,0,1,0 days
3300,5.589478e+07,USA,3.0,0,1,880 days
3301,3.030000e+06,FRA,1.0,0,2,0 days
3302,1.375000e+08,USA,3.0,0,2,817 days

In [37]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
csp['country_code']= label_encoder.fit_transform(csp['country_code'])
# csp['country_code'].value_counts()

In [38]:
from sklearn.externals import joblib
filename = 'label_encoder.sav'
joblib.dump(label_encoder, filename)

['label_encoder.sav']

In [39]:
def preprocessing(csp):
    csp['funding_duration'] = csp['funding_duration'].apply(lambda x:x.days)
    csp['funding_total_usd'] = csp['funding_total_usd'].apply(lambda x:np.log(x))

In [40]:
preprocessing(csp)

# Upsampling

In [41]:
df = csp

In [42]:
# Separate majority and minority classes
df_majority = df[df.predict==0]
df_minority = df[df.predict==1]

# n1 is the number of majority class (label = 0)
n1 = df.predict.value_counts()[0]

# Upsample minority class
df_minority_upsampled = df_minority.sample(n = n1, # to match majority class
                                 replace=True,     # sample with replacement
                                 random_state=123) # reproducible results

# downsample majority class
# df_majority_downsampled = resample(df_majority, 
#                                  replace=False,     # sample with replacement
#                                  n_samples=n,    # to match majority class
#                                  random_state=123) # reproducible results

# Combine majority class with upsampled minority class
df_upsampled = pd.concat([df_majority, df_minority_upsampled],ignore_index= True)
# df_downsampled = pd.concat([df_minority, df_majority_downsampled])

In [43]:
df_upsampled['predict'].value_counts()

1    2809
0    2809
Name: predict, dtype: int64

In [44]:
#Shuffle data of df_upsampled
df_upsampled = df_upsampled.sample(frac = 1) 

df_upsampled.to_csv('train_upsampled_shuffled.csv', index=False)

X_train = df_upsampled[['funding_total_usd', 'country_code', 'funding_rounds', 'num_investor', 'funding_duration', 'predict']].reset_index()
X_train.drop(columns = ['index'], inplace = True)
#X_train['predict'].value_counts()

In [45]:
X_train.head()

,funding_total_usd,country_code,funding_rounds,num_investor,funding_duration,predict
0,18.852463,69,2.0,2,2485,1
1,14.631318,69,3.0,4,798,0
2,13.327750,41,1.0,1,0,0
3,16.955880,15,1.0,1,0,1
4,16.955880,69,1.0,1,0,0

In [46]:
X_train.shape

(5618, 6)

In [47]:
y_train = X_train['predict']

In [48]:
X_train['predict'].value_counts()

1    2809
0    2809
Name: predict, dtype: int64

## Feature Normalization

In [49]:
## Separating categorical and numerical features
X_train_country = X_train.predict
X_train_nums = X_train.drop(columns=['predict'])

In [50]:
def normalization(X):
    from sklearn import preprocessing
    from sklearn.preprocessing import StandardScaler
    from sklearn.externals import joblib

        
    scale = StandardScaler()
    norm_X_train = scale.fit_transform(X)
    
    scaler_filename = "scaler.save"
    joblib.dump(scale, scaler_filename) 
    return norm_X_train

In [51]:
norm_X_train= normalization(X_train_nums)

In [52]:
norm_X_train = pd.DataFrame(norm_X_train, columns = X_train_nums.columns)

## Feeding Models

In [53]:
from sklearn.metrics import accuracy_score, confusion_matrix, roc_auc_score, f1_score

In [54]:
from sklearn.linear_model import LogisticRegression
logmodel = LogisticRegression()
logmodel.fit(norm_X_train,y_train)
y_pred = logmodel.predict(norm_X_train)
acc = accuracy_score(y_train, y_pred)
f1 = f1_score(y_train, y_pred)
print(acc)
print(f1)

0.6391954432182271
0.6433221889846913

In [55]:
norm_X_train.columns

Index(['funding_total_usd', 'country_code', 'funding_rounds', 'num_investor',
       'funding_duration'],
      dtype='object')

In [56]:
from sklearn.externals import joblib
filename = 'finalized_model.sav'
joblib.dump(logmodel, filename)

['finalized_model.sav']

In [57]:
a = np.array(['USA',3434,3,3,340])

In [58]:
pd.DataFrame(a.reshape(1,-1),columns = ['country_code','funding_total_usd', 'funding_rounds', 'num_investor','funding_duration'])

  country_code funding_total_usd funding_rounds num_investor funding_duration
0          USA              3434              3            3              340